In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv("./spaceship-titanic/train.csv")
test_data = pd.read_csv("./spaceship-titanic/test.csv")
sample_output = pd.read_csv("./spaceship-titanic/sample_submission.csv")

In [3]:
import seaborn as sns

In [4]:
train_data.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

# Basic Data Cleaning

In [39]:
# Null Values
train_data.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [40]:
train_data.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [41]:
train_data_no_null = train_data.dropna()

In [47]:
train_data_no_null['CryoSleep'].value_counts()

CryoSleep
False    4274
True     2332
Name: count, dtype: int64

In [48]:
train_data_no_null['VIP'].value_counts()

VIP
False    6444
True      162
Name: count, dtype: int64

In [51]:
train_data_no_null['CryoSleep'] = train_data_no_null['CryoSleep'].astype(int)

C:\Users\ryan_\AppData\Local\Temp\ipykernel_1584\2795691191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_no_null['CryoSleep'] = train_data_no_null['CryoSleep'].astype(int)

In [52]:
train_data_no_null['VIP'] = train_data_no_null['VIP'].astype(int)

C:\Users\ryan_\AppData\Local\Temp\ipykernel_1584\747070923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_no_null['VIP'] = train_data_no_null['VIP'].astype(int)

## Numerical Data

In [54]:
train_numerical = train_data_no_null[['CryoSleep', 'VIP','ShoppingMall', 'RoomService', 'FoodCourt', 'VRDeck', 'Age', 'Transported']]

In [ ]:
for i in ['ShoppingMall', 'RoomService', 'FoodCourt']

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

fig, axs = plt.subplots(ncols=3)
sns.regplot(x='value', y='wage', data=df_melt, ax=axs[0])
sns.regplot(x='value', y='wage', data=df_melt, ax=axs[1])
sns.boxplot(x='education',y='wage', data=df_melt, ax=axs[2])

In [ ]:
# A basic box plot of a single numerical column 'fare'
sns.boxplot(data=df, x='fare')
plt.title('Box Plot of Fare')
plt.show()

# Compare a numerical variable ('age') across a categorical variable ('class')
sns.boxplot(data=df, x='class', y='age')
plt.title('Age Distribution by Class')
plt.show()

# Add a third categorical variable ('who') with 'hue'
sns.boxplot(data=df, x='class', y='age', hue='who')
plt.title('Age Distribution by Class and Who')
plt.show()

In [56]:
train_numerical.corr()

,CryoSleep,VIP,ShoppingMall,RoomService,FoodCourt,VRDeck,Age,Transported
CryoSleep,1.000000,-0.082303,-0.228612,-0.255398,-0.210782,-0.199095,-0.085701,0.462803
VIP,-0.082303,1.000000,0.013660,0.029009,0.135386,0.130061,0.098138,-0.042260
ShoppingMall,-0.228612,0.013660,1.000000,0.060478,-0.012320,0.000383,0.042314,0.011602
RoomService,-0.255398,0.029009,0.060478,1.000000,-0.013614,-0.026002,0.074783,-0.247291
FoodCourt,-0.210782,0.135386,-0.012320,-0.013614,1.000000,0.216997,0.135844,0.055025
VRDeck,-0.199095,0.130061,0.000383,-0.026002,0.216997,1.000000,0.105031,-0.207950
Age,-0.085701,0.098138,0.042314,0.074783,0.135844,0.105031,1.000000,-0.082553
Transported,0.462803,-0.042260,0.011602,-0.247291,0.055025,-0.207950,-0.082553,1.000000

In [24]:
train_numerical.corr()

,ShoppingMall,RoomService,FoodCourt,VRDeck,Age,Transported
ShoppingMall,1.000000,0.054480,-0.014228,-0.007322,0.033133,NaN
RoomService,0.054480,1.000000,-0.015889,-0.019581,0.068723,NaN
FoodCourt,-0.014228,-0.015889,1.000000,0.227995,0.130421,NaN
VRDeck,-0.007322,-0.019581,0.227995,1.000000,0.101007,NaN
Age,0.033133,0.068723,0.130421,0.101007,1.000000,NaN
Transported,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sample_output

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]